.create-modal {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 25%;
}
.create-modal-content {
  font: 2rem sans-serif;
  padding: 5rem;
  width: 30rem;
  height: 30rem;
  background: linear-gradient(90deg, rgba(10,36,114,1) -5%, rgba(14,107,168,1) 50%, rgba(166,225,250,1) 170%);
  border-radius: 25px;
  position: relative;
  box-shadow: 0px 0px 5px 1px;
}
.create-modal-content h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
}
.create-modal-form {
  display: grid;
}
.create-modal-btn{
  background-color: white;
  color: #0a2472;
  border: none;
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.create-modal-content input {
  border: none;
  border-bottom: white solid 1.5px;
  background-color: inherit;
  font-size: 25px;
  margin-bottom: 3rem;
}
input::placeholder{
  color: white;
}
.create-modal-content input:focus {
  outline: none;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
}
